<h1>Angular Animations</h1>
<div>
<button (click)="bigData()">BigData</button>
<button (click)="smallData()">SmallData</button>
</div>
<div [@visuanimate]="currentstate" style="background-color: black;color:blanchedalmond;height:100px">Hello</div>


<button id="btnShow">Display</button>
<p id="bp">Angular Animations</p>

<!-- ============ -->

<button id="animate">Animate</button>
<p id="jq">JQuery Manipulations</p>

<!-- ================== -->
<button id="animate1">Animate</button>
<span style="background:#98bf21;height:100px;width:200px;position:absolute;">HELLO</span>


