 <h1>visu chari angular project</h1>

 <div class="container">
 <ul class="nav nav-pills">
    <li><a href="/login">login</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</div>

<router-outlet></router-outlet>


<!-- <app-input-search></app-input-search> -->

<!-- <app-login3></app-login3> -->
<!-- <app-register-login></app-register-login> -->
<!-- <app-login></app-login> -->
<!--My name is <input type="text" [(ngModel)]="ename"/>

<h1>{{ename}}</h1> -->


<!-- <app-event1></app-event1>

<app-event2></app-event2>

<app-event3></app-event3>

<app-event4></app-event4> -->

<!-- <app-login></app-login> -->
<!-- <app-sdx></app-sdx> -->

 <app-login2></app-login2>

<!-- <div class="container">
<app-employee></app-employee>
</div> -->

<!-- <app-dropdown></app-dropdown> -->
<!-- <app-crud-http></app-crud-http> -->

<!-- <app-pb-ex></app-pb-ex> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-hello></app-hello> -->

<!-- <app-customers></app-customers> -->

<!-- <app-dashboard></app-dashboard> -->
<!-- ========================================================= -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
            <h1>login component</h1>
            <app-login></app-login>
        </div>
        </div>
        <div class="col-md-6">
            <h1>Pipes</h1>
            <app-pipes></app-pipes>
        </div>
    </div>
</div> -->
<br>


   <!--<div class="container">
    <div class="row">
      <div class="col-md-4">
            <h1>First Column</h1>
        </div> -->
        <!-- <div class="col-sm-4">
            <h1>Second Column</h1>
               
        </div> -->
        <!-- <app-event></app-event> -->
        <!-- <div class="col-md-4">
            <h1>Third column</h1>
        </div> 
    </div>
</div>-->

<!--================================================== -->

<!-- <app-register></app-register> -->
<!-- ======= -->

<!-- <app-animation></app-animation> -->

<!-- ================================================= -->
<!-- <div class="container">
    <h1>Root Component Consume API</h1>
    
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Website</th>
            <th>Mobile Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of users">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.username}}</td>
            <td>{{s.email}}</td>
            <td>{{s.website}}</td>
            <td>{{s.phone}}</td>
        </tr> 
    </tbody>
    </table>
    
    </div> -->


<!-- <input type="number" [(ngModel)]="amount"><br>
    <h2>{{amount | currency:'EUR'}}</h2>
     <input type="number" [(ngModel)]="dob"><br>
    {{dob | date:'longDate'}} -->

    





