<h2>register-login works!</h2>

<form>
    username:<input type="text" [(ngModel)]="user.username" name="username"> <br>
    password:<input type="number" [(ngModel)]="user.password" name="password"><br>
    MobileNumber:<input type="number" [(ngModel)]="user.mobile" name="mobile"><br>
    Email:<input type="email" name="email" [(ngModel)]="user.email"><br>
    Gender:<input type="radio" value="male" name="gender" [(ngModel)]="user.gender">male
            <input type="radio" value="female" name="gender" [(ngModel)]="user.gender">female<br>
     languages:<select [(ngModel)]="user.languages" name="languages">
         <option>English</option>
         <option>Telugu</option>
         <option>Hindi</option>
     </select>       <br>

     <button (click)="submit();user={}">Submit</button>
</form> <br><br>

<form>
    username:<input type="text" name="uname" [(ngModel)]="uname"> <br>
    password:<input type="number" name="pwd" [(ngModel)]="pwd"> <br>
    <button (click)="login()">Login</button>
</form>