<p>login works!</p>


<h2>visuchari</h2>

<table border="1">
<tr>
    <td>User Name:</td>
    <td><input type="text" [(ngModel)]="uname"></td>
    
    
</tr>

<tr>
    <td>Password:</td>
    <td><input type="password" [(ngModel)]="pwd"></td>
    
</tr>

<tr>
    <td><button (click)="valid()">Submit</button></td>
    <!-- <td>{{validation}}</td> -->
</tr>

<!-- <tr>
        <td><button (click)="clear()">Clear</button></td>
        <td></td>
    </tr> -->
</table>


<br>
<br>
<hr>
 


<!-- ============================ -->


<!-- <table border="1">
    <tr>
       <th>Index</th>
       <th>Ename</th>
       <th>Id</th> 
       <th>Gender</th>
       <th>Age</th>
       <th>Operations</th>
    </tr>

    <tr *ngFor="let p of people; let s = index">
        <td>{{s}}</td>
        <td>{{p.ename}}</td>
        <td>{{p.id}}</td>
        <td>{{p.gender}}</td>
        <td>{{p.age}}</td>
        <td><a href="#" class="btn" (click)="getrow(s)">Select</a></td>
    </tr>

</table>
<button (click)="clear2()">clear</button> <br>

Id:{{x.id}} <br>
Ename:{{x.ename}} <br>
Gender:{{x.gender}} <br>
Age:{{x.age}}  -->


