


<div class="container">
        <h1>Navigation Tabs </h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#event1">Home</a></li>
        <li><a data-toggle="tab" href="#event2">Menu 1</a></li>
        <li><a data-toggle="tab" href="#event3">Menu 2</a></li>
        <li><a data-toggle="tab" href="#event4">Menu 3</a></li>
      </ul>

      <br>
      <div class="tab-content">
      <div id="event1" class="tab-pane fade in active">
        <app-event1></app-event1>
      </div>

      <div id="event2" class="tab-pane fade">
        <app-event2></app-event2>
      </div>

      <div id="event3" class="tab-pane fade">
        <app-event3></app-event3>
      </div>

      <div id="event4" class="tab-pane fade">
        <app-event4></app-event4>
      </div>

    </div>

</div>